* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: brown;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Campo de todo o menu */
.checkbox {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

/* Traço do menu */
.checkbox .trace {
  width: 90px;
  height: 8px;
  background-color: white;
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

/* Pegando o filho do checkbox > traço */
/* Ele terá a mesma característica do pai mas, acrescentadas novas */
.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

/* Pegando o segundo filho do checkbox > traço */
/* Ele terá a mesma característica do pai mas, acrescentadas novas */
.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}

/* Pegando o terceiro filho do checkbox > traço */
/* Ele terá a mesma característica do pai mas, acrescentadas novas */
.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

/* Escondendo o checkbox, pois o menu assumirá essa função */
/* Quando clicar no label, ele marcará o checkbox */
#toggle {
  display: none;
}

/* Pegando o filho do id */
/* Selecionar o que tá dentro do toggle */
/* Pegando o primeiro traco que está dentro da label e rotacionando */
#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  top: 47px;
}

/* Quando o checkbox estiver ativo o 2º traço irá sumir diminuindo */
#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translatex(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  top: 47px;
}
